<html>
<head>
  <meta http-equiv="refresh" content="0; url=http://closewebview" />
<script>
function loaded()
{
    window.close();
}
</script>
</head>
<body onLoad="loaded()">
<p> Transaction success. Transaction ID: <%= @txnid %>, Amount <%= @amount %> </p>
</body>
